# Bytecode & cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables and secrets
.env
*.env

# Editor/IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.so

# PyInstaller
*.spec
dist/
build/

# Coverage/test reports
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.cache

# Static cache
*.Zone.Identifier