html {
    font-size: 16px;
    line-height: 1.5;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}
footer {
    text-align: center;
    padding: 1em;
    background: #f1f1f1;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Arrange items in a row */
    justify-content: center; /* Center the navigation links */
}

nav ul li {
    margin: 0 15px; /* Add spacing between links */
}

header nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Set link color */
    font-weight: bold; /* Make links bold */
}

nav ul li a:hover {
    color: #007BFF; /* Change color on hover */
}

#admin_actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1001;
}

.modal-content .close {
    position: absolute; /* Position relative to the modal-content */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    font-size: 20px; /* Adjust size */
    font-weight: bold;
    color: #333;
    cursor: pointer; /* Change cursor to pointer */
}


.modal-content .close:hover {
    color: red; /* Optional: Change color on hover */
}

.form-column {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Optional: limit width */
    gap: 10px; /* Space between rows */

}


.form-column div {
    display: flex;
    flex-direction: column;
}