{% extends "base_admin.html" %}

{% block content %}
    <h3>User Management</h3>
    {% if not users %}
    <p>No users found.</p>
    {% else %}
        {% for user in users %}
            <div class="user-card">
                <h4>{{ user.username }}</h4>
                <p>First Name: {{ user.firstname }}</p>
                <p>Last Name: {{ user.lastname }}</p>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Role: {{ user.role }}</p>
                <button onclick="EditUser('{{ user.id }}')">Edit</button>
                <button onclick="DeleteUser('{{ user.id }}')">Delete</button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}